@model IEnumerable<SolucionOfertas.Models.PRODUCTO>

@{
    ViewBag.Title = "Adm_producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div>
        <h2>Administrar producto</h2>
        @Html.ActionLink("Agregar producto", "ADD_producto", "Enc_tienda")
        <br />
        <br />
    
        <center>
    
                <table style="width:100%">
            
            <tr class="table-active">
                
                <th>ID PRODUCTO</th>
                
                <th>Nombre</th>
                
                <th>Precio</th>
                
                <th>Descripcion</th>
                
                <th>Imagen</th>
                                
                <th>Acción</th>
                
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                
                    <td>@item.ID </td>
               
                    <td>@item.NOMBRE</td>
                
                    <td>@item.PRECIO</td>
                
                    <td>@item.DESCRIPCION</td>
                
                    <td>@item.IMAGEN</td>
                                               
                    <td><form action="@Url.Action("UP_producto", "Enc_Tienda")" method="get" >
                    
                            <input type="hidden" name="id_producto" value="@item.ID" />
                            <input type="submit" name="btnModificar" value="Modificar"/>

                        </form>
                
                </tr>

            }
        </table>
        
        
    </center>
    
    <button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Index","Enc_tienda")'">Volver</button>
    
</div> 

