@model IEnumerable<SolucionOfertas.Models.OFERTA>

@{
    ViewBag.Title = "Adm_oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<br />
<br />
<br />
<div>
    <h2>Administrar ofertas</h2>
    @Html.ActionLink("Agregar oferta", "ADD_oferta", "Enc_tienda")
    <br />
    <br />

    <center>

        <table style="width:100%">

            <tr class="table-active">

                <th>ID</th>

                <th>Producto</th>

                <th>Precio Oferta</th>

                <th>Stock</th>

                <th>Porcentaje de dscto</th>

                <th>Estado</th>

                <th>Acción</th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.ID</td>

                    <td>@item.PRODUCTO_ID</td>

                    <td>@item.PRECIO_DSCTO</td>

                    <td>@item.STOCK</td>

                    <td>@item.DSCTO</td>

                    <td>@item.ESTADO</td>

                    <td><form action="@Url.Action("UP_oferta", "Enc_Tienda")" method="get">

                            <input type="hidden" name="id_oferta" value="@item.ID" />
                            <input type="submit" name="btnModificar" value="Modificar" />

                        </form></td>

                </tr>
            }

        </table>


    </center>

    <button type="button" class="btn btn-success" style="width:150px" onclick="location.href='@Url.Action("Index","Enc_tienda")'">Volver</button>

</div>



