@model IEnumerable<SolucionOfertas.Models.PRODUCTO>

@{
    ViewBag.Title = "Adm_producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div>
        <h2>Administrar producto</h2>
        @Html.ActionLink("Agregar producto", "ADD_producto", "Enc_tienda")
        <br />
        <br />
    
        <center>
    
                <table style="width:100%">
            
            <tr class="table-active">
                
                <th>ID</th>
                
                <th>Nombre</th>
                
                <th>Precio</th>
                
                <th>Descripcion</th>
                
                <th>Imagen</th>
                                
                <th>Acción</th>
                
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                
                <td>@ViewBag.ID </td>
               
                <td>@ViewBag.Nombre</td>
                
                <td>@ViewBag.Precio</td>
                
                <td>@ViewBag.Descripcion</td>
                
                <td>@ViewBag.Imagen</td>
                                               
                <td>@Html.ActionLink("Modificar", "UP_empresa", "Administrador") | @Html.ActionLink("Eliminar", "ADD_empresa", "Administrador")</td>
                
            </tr>

            }
        </table>
        
        
    </center>
    
    
</div> 

