
@model IEnumerable<SolucionOfertas.Models.EMPRESA>

@{
    ViewBag.Title = "Administrar_empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div>
    <h2>Administrar empresas</h2>
    @Html.ActionLink("Agregar empresa", "ADD_empresas", "Administrador")
    <br />
    <br />

    <center>

        <table style="width:100%">
            <tr class="table-active">
                <th>ID</th>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Acción</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ID</td>
                <td>@item.NOMBRE</td>
                <td>@item.RUT</td>
                <td>@Html.ActionLink("Modificar", "UP_empresa", "Administrador") | @Html.ActionLink("Eliminar", "ADD_empresas", "Administrador")</td>
            </tr>
            }
        </table> 

    </center>

</div>